/*-- scss:defaults --*/

/*-- scss:rules --*/

.checklist li {
  list-style: none;
}

.checklist li::before {
  content: '';
  display: inline-block;
  margin: 0 0 -.25em -1.3em;
  height: 1.2em;
  width: 1.2em;
  background-image: url(images/checkbox.svg);
}

.gt_col_heading { font-size: 50px; }

.reveal .title {
  font-size: 100px; /* Change this value to your preferred size */
}

.reveal .author {
  font-size: 60px; /* Change this value to your preferred size */
}

.reveal h1 {
    font-size: 10px; /* Change this value to increase or decrease the title size */
}
.small-text {
    font-size: small
}

.reveal {
  border-top: 0px solid #d6bb20; /* Adjust the pixel value to change the border thickness */
}
.small2-text {
    font-size: 0.6em; /* Adjust the size as needed */
}
.MathJax {
    font-size: 30%; /* Adjust the percentage to your preference */
}
.reveal .slide-number {
    bottom: 10px; /* Adjust this value as needed */
}
.reveal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px; /* Height of the border */
    background-color: #d6bb20; /* Color of the border */
    z-index: 10; /* Ensure it's above the content */
}

.reveal .slides {
    padding-top: 30px; /* Adjust this value as necessary to prevent content overlap */
}